<!doctype html>

<html lang="en" ng-app="todomvc" data-framework="firebase">

  <head>
    <meta charset="utf-8">
    <title>Oh! My Secretary!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> 

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

 <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

    

    </div>
    <!-- /.container -->

    <section id="todoapp" ng-controller="TodoCtrl">
      <header id="header">
        <h1>{{userName}}'s todos</h1>
        <form id="todo-form" ng-submit="addTodo()">
          <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo.content" autofocus>
          <input placeholder="Due date" ng-model="newTodo.date" ui-date>
        </form>
      </header>
      <section id="main" ng-show="totalCount" ng-cloak>
        <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
          <li ng-repeat="(id, todo) in todos | todoFilter" ng-class="{completeeted: todo.completed, editing: todo == editedTodo}">
            <div class="view">
              <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(todo)">
              <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
              <button class="destroy" ng-click="removeTodo(todo)"></button>
            </div>
            <form ng-submit="doneEditing(todo)">
              <input class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
            </form>
          </li>
        </ul>
      </section>

      <footer id="footer" ng-show="totalCount" ng-cloak>
        <span id="todo-count"><strong>{{remainingCount}}</strong>
          <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
        </span>
        <ul id="filters">
          <li>
            <a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
          </li>
          <li>
            <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
          </li>
          <li>
            <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
          </li>
        </ul>
        <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
      </footer>
    </section>


    <script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="node_modules/todomvc-common/base.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angularfire/dist/angularfire.js"></script>

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/todoCtrl.js"></script>
    <script src="js/directives/todoFocus.js"></script>
    <script src="js/directives/todoBlur.js"></script>
    <script src="js/directives/todoEscape.js"></script>
 
  </body>
</html>